<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    [fixedInViewport]="true"
    [fixedTopGap]="8"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async)!.matches ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)!.matches">
    <mat-toolbar #sidenavToolbar color="primary" fxLayout="row" fxLayoutAlign="flex-start center">
      <mat-icon fxFlex="0 0 auto">menu</mat-icon>
    </mat-toolbar>
    <mat-nav-list> <!--[style.margin-top.px]="navbarMargin.height"-->
      <a mat-list-item routerLink="/route-one">Route One</a>
      <a mat-list-item routerLink="/route-two">Route Two</a>
      <a mat-list-item routerLink="/csp-one">CSP One</a>
      <a mat-list-item routerLink="/">Home Page</a>
      <a mat-list-item routerLink="/gradients">Gradients</a>
      <a mat-list-item routerLink="/meta-sender">MetaSender</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content [style.top.px]="navbarMargin.height + 41">
    <div class="fixed-header">
      <mat-toolbar #contentToolbar color="primary" fxLayout="row">
        <button
          fxFlex="0 0 auto"
          type="button"
          mat-icon-button
          aria-label="Toggle sidenav"
          (click)="drawer.toggle()"
          *ngIf="(isHandset$ | async).matches">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span fxFlex="12 1 auto">Application Title</span>
      </mat-toolbar>
      <tdn-navbar></tdn-navbar>
    </div>
    <mat-card id="workspace-container">
      <router-outlet></router-outlet>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template tdn-navbar-template>
  <mat-tab-group>
    <mat-tab label="One">
      <!--<h1>Default tab content</h1>-->
      <!--<p>...</p>-->
    </mat-tab>
    <mat-tab label="Two">
      <!--<h1>Some more default tab content</h1>-->
      <!--<button (click)="clickMe()" mat-button>Click me!</button>-->
      <!--<p>...</p>-->
    </mat-tab>
  </mat-tab-group>
</ng-template>
